<html>

<body>

<input id="red" name="red" placeholder="red" size="5"><input id="green" name="green" placeholder="green" size="5"><input id="blue" name="blue" placeholder="blue" size="5"><input id="white" name="white" placeholder="white" size="5"></br></br>

<a href="http://192.168.2.37:5000/setallcolor">Set all to color</a> </br>
<a href="http://192.168.2.37:5000/colorwipe">Color Wipe</a> <input id="waitms_colorwipe" name="waitms_colorwipe" placeholder="Fastness (in ms)" size="10"> </br>
<a href="http://192.168.2.37:5000/wipesnake">Wipe Snake</a> <input id="pixelnumbers_wipesnake" name="pixelnumers_wipesnake" placeholder="pixel numbers" size="8"> <input id="waitms_wipesnake" name="waitms_wipesnake" placeholder="Fastness (in ms)" size="10"> </br>
<a href="http://192.168.2.37:5000/strobe">Strobe</a> <input id="waitms_strobe" name="waitms_strobe" placeholder="Fastness (in ms)" size="10"> </br>
<a href="http://192.168.2.37:5000/rgbstrobe">RGBstrobe</a> <input id="waitms_rgbstrobe" name="waitms_rgbstrobe" placeholder="Fastness (in ms)" size="10"> </br>
<a href="http://192.168.2.37:5000/rainbowcycle">Rainbow Cycle</a> <input id="waitms_rainbowcycle" name="waitms_rainbowcycle" placeholder="Fastness (in ms)" size="10"> <input id="iterations_rainbowcycle" name="iterations_rainbowcycle" placeholder="Iterations" size="5"> </br>
<a href="http://192.168.2.37:5000/theaterrainbowchase">Theater Rainbow Chase</a> <input id="waitms_theaterrainbowchase" name="waitms_theaterrainbowchase" placeholder="Fastness (in ms)" size="10"> </br>
<a href="http://192.168.2.37:5000/rainbowfull">Rainbow Full</a> <input id="ratems_rainbowfull" name="ratems_rainbowfull" placeholder="Fastness (in ms)" size="10"> </br>
<a href="http://192.168.2.37:5000/randomledskeepon">Random LEDs (keep on)</a> <input id="waitms_randomledskeepon" name="waitms_randomledskeepon" placeholder="Fastness (in ms)" size="10"> </br>
<a href="http://192.168.2.37:5000/randomleds">Random LEDs</a> <input id="waitms_randomleds" name="waitms_randomleds" placeholder="Fastness (in ms)" size="10"> </br>
<a href="http://192.168.2.37:5000/randommultiple">Random Multiple (do not use)</a> <input id="waitms_randommultiple" name="waitms_randommultiple" placeholder="Fastness (in ms)" size="10"> <input id="quantity_randommultiple" name="quantitiy_randommultiple" placeholder="Quantitiy" size="5"> </br>
<a href="http://192.168.2.37:5000/firemode">Fire Mode</a> <input id="waitms_firemode" name="waitms_firemode" placeholder="Fastness (in ms)" size="10"> </br>
<a href="http://192.168.2.37:5000/fadein">Fade in</a> <input id="timetofull_fadein" name="timetofull_fadein" placeholder="Fastness (in ms)" size="10"> </br>
</body>

</html>